*{
    margin: 0;
    padding: 0;
}

.addnoteBox{
    text-align: center;
    margin-left: 500px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addnoteTitle{
    background-color: blue;
    color: white;
    padding: 0;
    height: 50px;
    width: 100%;
}

.addBox1{
    border: 1px solid rgb(231, 231, 231);
    text-align: center;
    margin-top: 70px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
}

form{ 
    padding: 20px;
}

.textField{
    position: relative;

}

.textField input{
    width: 700px;
    padding: 10px;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    background-color: rgb(248, 248, 248);
}

.textField label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    transition: 0.5s;
}

.textField input:focus ~ label,
.textField input:valid ~ label{
    top: -15px;
    left: 0;
    color: blue;
    font-size: 12px;
}

/* .textField input:valid ~ label{
    top: -20px;
    left: 0;
    color: blue;
    font-size: 12px;
    font-weight: bold;
} */

.addBtn{
    width: 55px;
    height: 25px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.addBtn:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.addModal{
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: rgb(27, 235, 27);
    /* top: 18%; */
    top: 0;
    left: 50%;
    transform: translate(-10%, -50%) scale(0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
    z-index: 99;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-10%, -50%) scale(1);
}

.addModal h4, .addModal button{
    margin: 0px 10px;
}

.addModal button{
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: rgb(27, 235, 27);
    color: black;
    border: none;
}


@media only screen and (max-width: 1600px){
    .addnoteBox{
        margin-left: 500px;
    }
}
@media only screen and (max-width: 1500px){
    /* .addnoteBox{
        margin-left: 350px;
    } */
    .textField input{
        width: 600px;
    }
}
@media only screen and (max-width: 1400px){
    .addnoteBox{
        margin-left: 450px;
    }
}
@media only screen and (max-width: 1300px){
    .addnoteBox{
        margin-left: 400px;
    }
    .textField input{
        width: 550px;
    }
}
@media only screen and (max-width: 1250px){
    .addnoteBox{
        margin:auto ;
    }
    .addModal{
        left: 40%;
    }
}
@media only screen and (max-width: 1100px){
    .addModal{
        left: 37%;
    }
}
@media only screen and (max-width: 950px){
    .addModal{
        left: 33%;
    }
}
@media only screen and (max-width: 700px){
    .addModal{
        left: 28%;
    }
    .addnoteBox{
        margin-left: 30px;
    }
    .textField input{
        width: 550px;
    }
}
@media only screen and (max-width: 650px){
    .addModal{
        left: 25%;
    }
    .addnoteBox{
        margin-left: 20px;
    }
    .textField input{
        width: 500px;
    }
}
@media only screen and (max-width: 600px){
    .addModal{
        left: 25%;
    }
    .addnoteBox{
        margin-left: 20px;
    }
    .textField input{
        width: 450px;
    }
}
@media only screen and (max-width: 550px){
    .addModal{
        left: 25%;
    }
    .addnoteBox{
        margin-left: 20px;
    }
    .textField input{
        width: 400px;
    }
}
@media only screen and (max-width: 500px){
    .addModal{
        left: 20%;
    }
    .addnoteBox{
        margin-left: 15px;
    }
    .textField input{
        width: 350px;
    }
}
@media only screen and (max-width: 450px){
    .addModal{
        left: 23%;
    }
    .addnoteBox{
        margin-left: 15px;
    }
    .textField input{
        width: 300px;
    }
    .addModal{
        width: 300px;
    }
}
@media only screen and (max-width: 400px){
    .addModal{
        left: 20%;
    }
    .addnoteBox{
        margin-left: 15px;
    }
    .textField input{
        width: 250px;
    }
    .addModal{
        width: 300px;
    }
}
@media only screen and (max-width: 350px){
    .addModal{
        left: 20%;
    }
    .addnoteBox{
        margin-left: 10px;
    }
    .textField input{
        width: 215px;
    }
    .addModal{
        width: 250px;
    }
}
@media only screen and (max-width: 300px){
    .addModal{
        left: 20%;
    }
    .addnoteBox{
        margin-left: 10px;
    }
    .textField input{
        width: 170px;
    }
    .addModal{
        width: 220px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 250px){
    .addModal{
        left: 15%;
    }
    .addnoteBox{
        margin-left: 10px;
    }
    .textField input{
        width: 150px;
    }
    .addModal{
        width: 210px;
        font-size: 13px;
    }
}
@media only screen and (max-width: 230px){
    .addModal{
        left: 15%;
    }
    .addnoteBox{
        margin-left: 10px;
    }
    .textField input{
        width: 130px;
    }
    .addModal{
        width: 190px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 200px){
    .addModal{
        left: 13%;
    }
    .addnoteBox{
        margin-left: 5px;
    }
    .textField input{
        width: 120px;
    }
    .addModal{
        width: 180px;
        font-size: 11px;
    }
}
