*{
    margin: 0;
    padding: 0;
}

.todoList{
    border: 1px solid rgb(231, 231, 231);
    height: 150px;
    width: 700px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
}

.todoList p, .todoList button{
    margin: 5px;
} 

.todoList h3{
    margin-bottom: 8px;
    background-color: blue;
    height: 35px;
    color: white;
}

.todoBtn{
    position: relative;
    bottom: 0;
}

.todoBtn button{
    height: 25px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    visibility: visible;
}
.setTodoBtn button{
    height: 25px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    visibility: visible;
}

.todoBtn button:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.deleteModal button, .editModal button{
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    border: none;
  }

  .deleteModal{
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: black;
    color: white;
    /* top: 18%; */
    top: 0;
    left: 50%;
    transform: translate(-10%, -50%) scale(0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
  .setDeleteModal{
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: black;
    color: white;
    top: 18%;
    /* top: 0; */
    left: 50%;
    transform: translate(-10%, -50%) scale(1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    visibility: visible;
    transition: transform 0.5s, top 0.5s;
}

.setDeleteModal h4, .setDeleteModal button{
    margin: 0px 10px;
}

.editModal{
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: blue;
    color: white;
    /* top: 18%; */
    top: 0;
    left: 50%;
    transform: translate(-10%, -50%) scale(0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}
.setEditModal{
    position: absolute;
    width: 500px;
    height: 330px;
    /* background-color: blue; */
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    /* color: white; */
    top: 50%;
    /* top: 0; */
    left: 50%;
    transform: translate(-15%, -50%) scale(1);
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    visibility: visible;
    transition: transform 0.5s, top 0.5s;
    text-align: center;
    /* z-index: 2; */
}

.setEditModal h3, .setEditModal button{
    margin: 0px 10px;
}

.setEditModal h3{
    background-color: blue;
    height: 40px;
    margin: 0;
}

.setEditModal button{
    background-color: blue;
    color: white;
    border: none;
}

.textField11{
    position: relative;

}

.textField1 input{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    background-color: rgb(248, 248, 248);
}

.editLable{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: blue;
    transition: 0.5s;
    margin: 0 20px;
}

.textField1 input:focus ~ label,
.textField1 input:valid ~ label{
    top: 0px;
    left: 0;
    color: blue;
    font-size: 12px;
}

@media screen and (max-width:1250px) {
    .setEditModal{
        left: 40%;
    }
}
@media screen and (max-width:1000px) {
    .setEditModal{
        left: 35%;
    }
}
@media screen and (max-width:900px) {
    .setEditModal{
        left: 30%;
    }
}

@media screen and (max-width:800px) {
    .todoList{
        width: 600px;
    }
    .setEditModal{
        left: 30%;
        width: 400px;
    }
    .textField1 input{
        width: 300px;
    }
}
@media screen and (max-width:700px) {
    .todoList{
        width: 500px;
    }
    .setEditModal{
        left: 30%;
        width: 300px;
        height: 310px;
    }
    .textField1 input{
        width: 200px;
    }
}
@media screen and (max-width:550px) {
    .todoList{
        width: 400px;
    }
}
@media screen and (max-width:500px) {
    .setEditModal{
        left: 28%;
    }
}
@media screen and (max-width:450px) {
    .todoList{
        width: 300px;
    }
}
@media screen and (max-width:400px) {
    .setEditModal{
        left: 22%;
    }
}
@media screen and (max-width:350px) {
    .todoList{
        width: 250px;
    }
    .setEditModal{
        left: 22%;
        width: 260px;
        height: 310px;
    }
    .textField1 input{
        width: 160px;
    }
}
@media screen and (max-width:300px) {
    .todoList{
        width: 220px;
    }
    .setEditModal{
        left: 18%;
        width: 240px;
        height: 310px;
    }
    .textField1 input{
        width: 140px;
    }
}
@media screen and (max-width:250px) {
    .todoList{
        width: 180px;
    }
    .setEditModal{
        left: 18%;
        width: 220px;
        height: 310px;
    }
    .textField1 input{
        width: 120px;
    }
}
@media screen and (max-width:200px) {
    .todoList{
        width: 150px;
    }
}